.title {
    width: 420px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border: 2px solid;
}

.list {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.button {
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #989898;
    background: #5f5fff;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color .2s;
}

.button:hover {
    background: #8181f8;
}

.loader {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

@media (max-width: 450px) {
    .title {
        width: 300px;
        margin-bottom: 15px;
    }

    .list {
        max-width: 250px;
        grid-template-columns: repeat(2, 1fr);
    }

    .button {
        max-width: 250px;
    }
}
